{% load i18n admin_urls %}
<div class="submit-row">

{% if show_save %}<input type="submit" value="保存" class="default" name="_save" />{% endif %}
<a href="start" class="button" id="workflow_submit">提交</a>
    {% for button in extra_buttons %}
<a href="{{button.href}}" class="button">{{button.title}}</a>
    {% endfor %}
    {{extra_buttons}}
{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">删除</a>
    </p>
{% endif %}
{% if show_save_as_new %}<input type="submit" value="另存为新的" name="_saveasnew" />{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="保存并新增另一个" name="_addanother" />{% endif %}
{% if show_save_and_continue %}<input type="submit" value="保存并继续编辑" name="_continue" />{% endif %}
</div>
